---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'F1 Visuals. Race Data. All in one place.',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/logo/icon_white-red.svg" />
    <title>{title} | Turn1Visuals</title>
  </head>
  <body>
    <slot />
  </body>
</html>
